.st-emotion-cache-r421ms{
    border: 1px solid black !important;
    background-color: #fff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1) !important;
}
#creta-dynamis-advanced-house-price-prediction-model span{
    background-color: #0D9276;
    /* background-color: #0059FF; */
    color: #fff;
    text-align: center;
    border-radius: 10px;
}